.voted-best-list {
    max-width: 535px;
    margin: auto;
    li {
        &:last-child {
            margin-bottom: 0px;
        }
    }
}


// --->> ABDULLLAH
.treat-section {
    padding: 60px 140px;
    color: #333333;
}

// --->> ABDULLLAH-2

.treat-widget{
    text-align: center;
    color: #333333;
    .widget-icon{
        display: flex;
        margin: auto;
        border-radius: 50%;
        max-width: 137px;
        margin-bottom: 25px;
        img{
            width: 100%;
        }
    }
    span{
        display: block;
    }
}
.treat-slider{
    .slick-arrow{
        z-index: 1;
        height: 52px;
        width: 52px;
        transform-origin: center;
        transform-box: fill;
        font-size:3.2rem;
        &:before{
            -webkit-transform: rotate(-90deg);;
            transform: rotate(-90deg);;
            -webkit-transform: rotate(-90deg);;
            transform-box:fill-box;
            transform-origin:center ;
            font-size: inherit;
            display: block;
            content: "\e913";
            font-family: "icomoon";
            color: #db5134;
        }
        &.slick-prev {
            right: 100%;
            left: auto;
            &:before{
                -webkit-transform: rotate(90deg);;
                transform: rotate(90deg);;
                -webkit-transform: rotate(90deg);;
            }
        }
        &.slick-next{
            margin-right:-28px;
        }
    }
}


@media only screen and (max-width: 767px) {
    .treat-section {
        padding-left:40px;
        padding-right:40px;
    }
}
@media only screen and (max-width: 575px) {

}
@media only screen and (max-width: 479px) {
    
}
